@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 1.9vw;
  height: 11vh;
}
.app-header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.app-header-navigation .submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;
}
.app-header-navigation .submenu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 11vh;
  gap: 6px;
  color: #333;
  text-decoration: none;
  padding: 0 0.6vw;
  position: relative;
}
.app-header-navigation .submenu a .text {
  font-weight: 400;
}
.app-header-navigation .submenu a .material-symbols-outlined {
  font-size: 16px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  transition: all 0.4s ease-out;
}
.app-header-navigation .submenu a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.6s ease-out;
}
.app-header-navigation .submenu a:hover .material-symbols-outlined, .app-header-navigation .submenu a:focus .material-symbols-outlined {
  transition: all 0.4s ease-out;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.app-header-navigation .submenu a:hover::before, .app-header-navigation .submenu a:focus::before {
  animation: underline 1.3s ease-out forwards;
}
@keyframes underline {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.app-header-navigation .submenu a.active .text {
  font-weight: 700;
}
.app-header-navigation .submenu a.active .material-symbols-outlined {
  font-size: 16px;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
}
.app-header-navigation .submenu a.active::before {
  height: 2px;
}
.app-header-navigation .submenu a.active:hover .material-symbols-outlined, .app-header-navigation .submenu a.active:focus .material-symbols-outlined {
  transition: all 0.4s ease-out;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
.app-header-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.app-header-actions .user-profile {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  transition: color 0.3s;
}
.app-header-actions .user-profile span:first-of-type {
  margin-right: 10px;
}
.app-header-actions .user-profile img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.app-header-actions .user-profile:hover {
  transform: scale();
}
.app-header-actions .app-header-actions {
  display: flex;
  gap: 10px;
}
.app-header-actions .app-header-actions .icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #666;
  transition: color 0.3s;
}
.app-header-actions .app-header-actions .icon-button:hover {
  color: #007bff;
}
.app-header-actions .app-header-actions .icon-button i {
  pointer-events: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2vw;
  background-color: #f8f4f0;
  color: #595959;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */